<% layout("/layouts/boilerplate.ejs") -%>
<body>
    
    <h3>All Listings</h3>
    <!-- <form method="get" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
   
    <div class="card-container">
        <%for (let listing of alllisting){ %>
            <div class="card">
                <a href="/listings/<%=listing._id%>">
                    <img src="img.jpg" alt="">
                </a>
                <div class="card-content">
                    <h2 class="card-title"><%= listing.title %></h2>
                    <p class="card-price">&#8377; <%= listing.price.toLocaleString("en-IN") %></p>
                    <p class="card-location"><%= listing.location %>, <%= listing.country %></p>
                    <p class="card-description"><%= listing.description %></p>
                </div>
            </div>

        <% } %>
    </div>

</body>


