<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <h3>Your Listing Details</h3>
    <ul>
        <li><%= currListing.title %></li>
        <li><%= currListing.description %></li>
        <li>&#8377; <%= currListing.price.toLocaleString("en-IN") %></li>
        <li><%= currListing.location %></li>
        <li><%= currListing.country %></li>
    </ul>
    <a href="/listings/<%= currListing._id%>/edit">Edit </a>
    <br><br>
    <form method="post" action="/listings/<%=currListing._id%>?_method=DELETE">
        <button>Delete</button>
    </form>
    
</body>
